nav{
    background-color: rgba(169, 0, 0, 1);
    height: 12vh;
    padding: 0%;
    position: fixed;
    z-index: 1;
    width: 100%;
    color: white;
}

body{
    background-color: rgba(226, 228, 231, 1);
    font-family: 'Catamaran', sans-serif;
    height: 100vh;
}

img{
    height: 10vh;
    float: left;
}

.nav{
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 70vw;
}

nav{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.auth{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

