
.btn-sidebar{
    padding-left: 2vw;
    border: none;
    background-color: rgb(15, 0, 99);
    color: white;
}

.sidebar-div{
    margin-top: 12vh;
    height: 88vh;
}

#sidebar{
    width: 17vw;
    border: none;
}

.sidebar-content{
    padding: 10%;
}

i{
    padding-right: 1vw;
}

a{
    margin-bottom: 3vh;
}